#wp-submit, #signup_submit, .wpcf7-submit, #post-topic-reply #submit, #new-topic-post #submit, .my-account #submit, #new-topic-button, .page-template-search-page-php #search-submit, #comment-submit { background-color:#5afffc; background-image: url( "../images/bg-button_c.png" ); border:1px solid #39ffe2;}
#mytabs, #mytabs2, .comment-count-child { background-image: url( "../images/bg-tabs_c.png" ); border:1px solid #00cf90; box-shadow: inset 0px 0px 0px 1px #5effcd; }
#ajaxsearchpro1 .probox { background:url( "../images/search_c.png" ) no-repeat; }
.item-list-tabs .customStyleSelectBoxInner { background:url( "../images/select2_c.png" ) no-repeat right center; }
header .tile { background-color:#01ffb2; }
header .tile2, #front-login-submit { background-color:#01ffb2; }
#object-nav ul li, #object-nav2 ul li { background-image: url( "../images/spacer-tab_c.png" ); }
#object-nav ul li:hover, #object-nav2 ul li:hover { background:#00eaa2; background-image: url( "../images/spacer-tab-selected_c.png" ); background-repeat: repeat-y; background-position:right top; }
#object-nav ul li a, #object-nav2 ul li a, #subnav ul li a, .comment-count-child, #metro .tile-title a { text-shadow: 1px 1px 0px #00cb8d; }
#object-nav ul li.current, #object-nav2 ul li.current { background:#00eaa2; background-image: url( "../images/spacer-tab-selected_c.gif" ); background-repeat: repeat-y; background-position:right top; }
div.item-list-tabs ul li a span { background: #00eaa2; border:1px solid #00dd99; }
div.item-list-tabs ul li.selected a span, div.item-list-tabs ul li.current a span, div.item-list-tabs ul li a:hover span { background-color: #1bffba; }
#subnav { background-image: url( "../images/spacer-subnav_c.png" ); }
.page-title { text-shadow:#7b7b7b 1px 1px 0px; background:#08ffa4; background: linear-gradient(to bottom, #0cffa5 0%,#00ffa0 100%); border:1px solid #00dd8b; box-shadow: inset 0px 0px 0px 1px #5effcd; }
.post-title { box-shadow: inset 0px 0px 0px 1px #5effcd; text-shadow:#7b7b7b 1px 1px 0px; background:#08ffa4; background: linear-gradient(to bottom, #0cffa5 0%,#00ffa0 100%); border:1px solid #00dd8b; }
div#bbpress-forums h3 { text-shadow:#7b7b7b 1px 1px 0px; background:#08ffa4; background: linear-gradient(to bottom, #0cffa5 0%,#00ffa0 100%); border:1px solid #00cf90; box-shadow: none; border-top:none; }
.blog-bottom { background-image: url( "../images/spacer-blog-bottom_c.gif" ); }
.blog-bottom-spacer { background-image: url( "../images/spacer-post-v_c.gif" ); }
ul li.forum-lastposts .activity-content { background:#00cd6b; }
ul li.forum-lastposts .activity-content:hover { background:#00b760; }
nav ul li.current-menu-item { background:#01ffb2; }
nav ul ul { border-top:3px solid #01ffb2; }
nav ul li.parent:hover { background-image: url( ../images/menu-arrow1_c.png ); }
nav ul li ul li.parent:hover { background-image: url( ../images/menu-arrow2_c.png ); }
span.activity { background:#01ffb2; }
span.activity:hover { background:#00ca8d; }
.comment-options .comment-reply-link, .comment-options .comment-edit-link { background:#01ffb2; }
.icon-share { background-image: url( ../images/icon-share_c.png ); }
.buttonCon .theButton { background: url("../slider/circlebutton_c.png") no-repeat; }
.slider-more { background-color:#01ffb2; }
#metro .tile-title span { background-image: url( "../images/transparent_c.png" ); }