<h2>Full-width column</h2>

[%mom_su_row]
	[%mom_su_column size="1/1"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. Proin dignissim arcu tristique fermentum ullamcorper. Integer lacinia scelerisque enim eu pretium. Nam elementum turpis orci, ac porttitor diam suscipit sit amet. [/%mom_su_column]
[/%mom_su_row]

-----

<h2>1/2 + 1/2</h2>

[%mom_su_row]
	[%mom_su_column size="1/2"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. Proin dignissim arcu tristique fermentum ullamcorper. Integer lacinia scelerisque enim eu pretium. Nam elementum turpis orci, ac porttitor diam suscipit sit amet. [/%mom_su_column]
	[%mom_su_column size="1/2"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. Proin dignissim arcu tristique fermentum ullamcorper. Integer lacinia scelerisque enim eu pretium. Nam elementum turpis orci, ac porttitor diam suscipit sit amet. [/%mom_su_column]
[/%mom_su_row]

-----

<h2>1/3 + 1/3 + 1/3</h2>

[%mom_su_row]
	[%mom_su_column size="1/3"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. Proin dignissim arcu tristique fermentum ullamcorper. Integer lacinia scelerisque enim eu pretium. Nam elementum turpis orci, ac porttitor diam suscipit sit amet. [/%mom_su_column]
	[%mom_su_column size="1/3"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. Proin dignissim arcu tristique fermentum ullamcorper. Integer lacinia scelerisque enim eu pretium. Nam elementum turpis orci, ac porttitor diam suscipit sit amet. [/%mom_su_column]
	[%mom_su_column size="1/3"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. Proin dignissim arcu tristique fermentum ullamcorper. Integer lacinia scelerisque enim eu pretium. Nam elementum turpis orci, ac porttitor diam suscipit sit amet. [/%mom_su_column]
[/%mom_su_row]

-----

<h2>1/2 + 1/4 + 1/4</h2>

[%mom_su_row]
	[%mom_su_column size="1/2"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. Proin dignissim arcu tristique fermentum ullamcorper. Integer lacinia scelerisque enim eu pretium. Nam elementum turpis orci, ac porttitor diam suscipit sit amet. [/%mom_su_column]
	[%mom_su_column size="1/4"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. [/%mom_su_column]
	[%mom_su_column size="1/4"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. [/%mom_su_column]
[/%mom_su_row]

-----

<h2>3/4 + 1/4</h2>

[%mom_su_row]
	[%mom_su_column size="3/4"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. Proin dignissim arcu tristique fermentum ullamcorper. Integer lacinia scelerisque enim eu pretium. Nam elementum turpis orci, ac porttitor diam suscipit sit. [/%mom_su_column]
	[%mom_su_column size="1/4"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. [/%mom_su_column]
[/%mom_su_row]

-----

<h2>1/5 + 4/5</h2>

[%mom_su_row]
	[%mom_su_column size="1/5"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. [/%mom_su_column]
	[%mom_su_column size="4/5"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. Proin dignissim arcu tristique fermentum ullamcorper. Integer lacinia scelerisque enim eu pretium. Nam elementum turpis orci, ac porttitor diam suscipit sit amet. [/%mom_su_column]
[/%mom_su_row]

-----

<h2>2/5 + 3/5</h2>

[%mom_su_row]
	[%mom_su_column size="2/5"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. Proin dignissim arcu tristique. [/%mom_su_column]
	[%mom_su_column size="3/5"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. Proin dignissim arcu tristique fermentum ullamcorper. Integer lacinia scelerisque enim eu pretium. Nam elementum turpis orci, ac porttitor diam suscipit sit amet. [/%mom_su_column]
[/%mom_su_row]

-----

<h2>2/3 + 1/6 + 1/6</h2>

[%mom_su_row]
	[%mom_su_column size="2/3"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam nibh, euismod eget nulla a, tempor scelerisque lorem. Proin dignissim arcu tristique fermentum ullamcorper. Integer lacinia scelerisque enim eu pretium. Nam elementum turpis orci, ac porttitor diam suscipit sit amet. [/%mom_su_column]
	[%mom_su_column size="1/6"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. [/%mom_su_column]
	[%mom_su_column size="1/6"] Lorem ipsum dolor sit amet, consectetur adipiscing elit. [/%mom_su_column]
[/%mom_su_row]