.my_meta_control .description {
    font-family: sans-serif;
    font-size: 12px;
    font-style: italic;
    margin: 2px 0 5px;
    margin-left: 24%;
    display: block;
}
 
.my_meta_control label
{   margin:5px; margin-bottom:0;  margin-right: 0; width: 24%; float: left; }
 
.my_meta_control label span
{ display:inline; font-weight:normal; }
 
.my_meta_control span
{ color:#999; display:block; }
 
.my_meta_control textarea, .my_meta_control input[type='text']
{ margin-bottom:3px; width: 50%;  }
 

.my_meta_control button, .my_meta_control .button {
    height: 30px;
    line-height: 30px;
    color: #7a7a7a;
    border-color: #dfdfdf;
}
.my_meta_control select {
    height: auto;
    min-width: 200px;
}
.slides_meta_wrap, .port_meta_wrap {
    border: 1px solid #dfdfdf;
    background: #fff;
    padding: 20px;
    padding-bottom: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
}
.slides_meta_wrap > div, .slides_meta_wrap > p  {
    margin: 0;
    margin-bottom: 8px;
    margin-left: 130px;
    min-height: 33px;
    width: 67%;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.rtl .slides_meta_wrap > div, .slides_meta_wrap > p{
    margin-right: 130px;
}
.slides_meta_wrap p:last-child {
    margin-bottom: 0;
}
.slides_meta_wrap label {
    float: left;
    width: 110px;
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    margin: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
.rtl .slides_meta_wrap label,
.rtl .slides_meta_wrap input[type="text"], 
.rtl .port_meta_wrap input[type="text"]{
    float: right;
}
.rtl .slides_meta_wrap .dodelete{
    left: 8px;
    right: auto;
}
.slides_meta_wrap label:after, .port_meta_wrap label:after  {
    content: ' : ';
}
.slides_meta_wrap input[type="text"], .port_meta_wrap input[type="text"]  {
    float: left;
}
.slides_meta_wrap input[type="text"], .slides_meta_wrap textarea, .port_meta_wrap input[type="text"] {
    background: #f0f0f0;
    border: 1px solid #ddd;
    width: 70% !important;
    margin-bottom: 0;
    margin-right: 8px;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.slides_meta_wrap input[type="text"]:focus, .slides_meta_wrap textarea:focus {
    background: #fff;
}
.slides_meta_wrap input[type="text"] {
    height: 30px;
    line-height: 30px;
}
.slides_meta_wrap textarea  {
    height: 90px;
}
.slides_meta_wrap .dodelete {
    position: absolute;
    right: 30px;
    padding-bottom: 0;
    height: 30px;
    line-height: 30px;
    padding-right: 30px;
}

.slides_meta_wrap .dodelete img, .copy_bt img {
    vertical-align: middle;
    position: absolute;
    top:7px;
    right: 10px;
}
.copy_bt {
    position: relative;
    height: 30px;
    line-height: 30px;
    padding-right: 30px !important;
}


        .port-state-highlight {
			height: 47px;
			margin-bottom: 10px;
			border: 1px dotted orange;
        }
	.shandle {
			position: absolute;
			left: 10px;
			top: 50%;
                        margin-top: -30px;
			background:#ededed;
			border: 1px solid #D3D3D3;
			width: 22px;
			height: 60px;
			line-height: 60px;
			text-align: center;
                        cursor: move;
	}
#mom_apple_meta_metabox .ui-state-highlight {
    height: 116px;
}
    .image-preview {
        position: absolute;
        right: 30px;
        width: 240px;
	height: 167px;
        top:62px;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    }

.apple_img_prev {
    top:20px;
    right:130px;
    width:150px;
    height: 128px;
    overflow: hidden;
}
.pt_imgpreview {
    width: 150px;
}


p.pt_extra_info {
    float: left;
    width: 49%;
    margin-right: 2%;
    margin-top: 0;

}
.last {
    margin-right:  0 !important;
    clear: right;
    padding-left: 0 !important;
}
.port_meta_wrap {
    overflow: hidden;
    padding: 10px;
}
.port_meta_wrap .dodelete {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 25px;
    line-height: 25px;
    padding-right: 25px;
    
}
.port_meta_wrap .dodelete img {
    position: absolute;
    right: 5px;
    top: 4px;
}
.pt_info_wrap {
    width: 80%;
    margin-left: 45px;
    overflow: hidden;
}
.pt_info_wrap label {
    width: auto;
    margin: 0;
    margin-right: 20px;
    line-height: 25px;
    float: left;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}
.pt_info_wrap input {
    float: left;
    margin: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pt_info_wrap p {
    margin-bottom: 0;
}

/* slider root element */
.mom_range_slider { 
	background:url(../../img/slider/bg.png) repeat-x 0 0;
	height:9px;
	border:1px solid #e0e0e0;
	position:relative;
	cursor:pointer;
	width:200px;
	float:left; 
	clear:right;
	margin-top:10px;
	border-radius:3px; 
	-webkit-border-radius:3px; 
}

/* progress bar (enabled with progress: true) */
.mom_range_wrap .ui-slider-range {
	height:9px; 
	background-color:#C5FF00; 
	display:none;
	opacity:0.6;
}

/* drag handle */
.mom_range_wrap ui-slider-handle { 
	background:url(../../img/slider/handle.png) no-repeat 0 bottom; 
	height:29px;
	width:29px;
	top:-11px;
	margin-left: -15px;
	position:absolute; 
	display:block; 
	margin-top:1px;
	cursor:move;

}

/* the input field */
.mom_range {
	float:left;
	font-size:16px;
	line-height: 30px;
	height: 30px;
	margin:0 0 0 15px;
	padding:3px 0;
	text-align:center;
	width:40px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
}

/* the input field */
.mom_range {
	float:left;
	font-size:16px;
	line-height: 30px;
	height: 30px;
	margin:0 0 0 15px;
	padding:3px 0;
	text-align:center;
	width:40px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
}


/* Custom Colors */
.custom_color {
    float: left;
    position: relative;
    margin-top: 1px;
}
.custom_color i {
    width: 28px;
    height: 24px;
    line-height: 24px;
    border: 3px solid #fff;
    outline: 1px solid #eaeaea;
    font-size: 17px;
    font-style: normal;
    font-family: georgia;
    display: inline-block;
    color: #ffbf0e;
    cursor: pointer;
    position: relative;
    text-align: center;
    background: #000;
    
}
.custom_color .caption_ch {
    color: #fff;
}
.custom_color .colors_wrap {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 35px;
    background: #fff;
    border:1px solid #ddd;
    padding:10px;
    padding-top: 0;
    width: 200px;
    display: none;
}
.custom_color .color_meta {
    margin-bottom: 5px;
}
.custom_color .color_meta:last-child {
    margin-bottom: 0;
}
.custom_color .colors_wrap h4 {
    font-size: 14px;
    font-weight: normal;
    margin: 0 -10px;
    margin-bottom: 10px;
   line-height: 33px;
   height: 30px;
   background: #eaeaea;
   text-align: center;
}
.custom_color .colors_wrap input[type="text"] {
    width: 50px !important;
}


/*---------------------------------
            Media Query 
---------------------------------*/
@media all and (max-width: 1370px) {
    .image-preview {
	width: 150px;
	height: 100px;
    }
.apple_img_prev {
    width:70px;
    height: 50px;
}    
    .image-preview img {
	margin-top: -50px;
    }
}

@media all and (max-width: 1200px) {
    .image-preview {
	width: 90px;
	height: 80px;
    }
    .image-preview img {
	margin-top: -50px;
	width: 400%;
    }
}

@media all and (max-width: 1170px) {
    .image-preview {
	width: 55px;
	height: 48px;
	border: none;
	outline: none;
    }
    .image-preview img {
	margin-top: -50px;
	width: 500%;
    }
.slides_meta_wrap .dodelete {
    top:80%;
}
}