/* -------------- Import Demo Data | .mfn-import --------------- */
.mfn-demo-data .hide { display:none;}
.mfn-demo-data select { width: 160px;}
.mfn-demo-data .description { background:#fff; padding:5px 10px; margin-bottom:10px;}

.mfn-demo-data .row-401 label { margin-right:5px;}
.mfn-demo-data .row-401 input { margin-right:10px;}